{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1>{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-cta rounded-pill btn-lg my-3" href="/documentation/introduction/#get-started" role="button">Get Started</a>
      {{ .Content }}
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
  {{ if site.Params.doks.backgroundDots -}}
  <div class="d-flex justify-content-start">
    <div class="bg-dots"></div>
  </div>
  {{ end -}}
  {{ if eq $.Site.Language.LanguageName "English" }}
  <section class="section section-md section-features">
    <div class="container">
      <div class="row justify-content-center text-center gap-2">
        <div class="col-lg-5 border">
          <h2 class="h4">Performance</h2>
          <p>Less obstructions, zero hydrations, less dependencies, pionia accelarates both program and developer performance!</p>
        </div>
        <div class="col-lg-5 border">
          <h2 class="h4">Secure</h2>
          <p>Configure this to meet your standards but using our RBAC helpers. We avail authentication backends that gets the job done right.</p>
        </div>
        <div class="col-lg-5 border">
          <h2 class="h4">Configurable</h2>
          <p>Pionia believes in configuration over conventions however much there are some in-house conventions. But you can configure pionia to your needs!</p>
        </div>
      </div>


      <div class="row justify-content-center text-center gap-2">
        <div class="col-lg-5 border">
          <h2 class="h4">Multi-Database</h2>
          <p>Supports multiple database connections at ago, you can use any of MySQL, Postgres and SQLite. We have a few in-house database helpers to get you started.</p>
        </div>
        <div class="col-lg-5 border">
          <h2 class="h4">Low Code, More Logic</h2>
          <p>Pionia ensures that you focus only on the business logic while taking care of the rest.</p>
        </div>
        <div class="col-lg-5 border">
          <h2 class="h4">MoonLisght</h2>
          <p>We are the first to roll out on this new pragmatic architecture, </p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Support and Backup</h2>
          <p>This framework is supported by both Service Cops - East Africa LTD and the entire entire open source especially the <a href="https://oscakampala.org/" target="_blank">OSCA-Kampala Chapter</a></p>
          <p>We, however, welcome all support from everyone anywhere around the globe.</p>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}

{{ define "sidebar-footer" }}
{{ if site.Params.doks.sectionFooter -}}
<section class="section section-md container-fluid bg-light">
  <div class="row justify-content-center text-center">
    {{/*  <div class="col-lg-7">
      <h2 class="mt-2">Start building with Doks today</h2>
      <a class="btn btn-primary rounded-pill px-4 my-2" href="/docs/{{ if site.Params.doks.docsVersioning }}{{ site.Params.doks.docsVersion }}/{{ end }}prologue/introduction/" role="button">{{ i18n "get-started" }}</a>
    </div>  */}}
  </div>
</section>
{{ end -}}
{{ end }}
